!
int gi1/0/1
switchport access vlan {{data_vlan}}
{% if nac == True %}
nac_config_here
{% endif %}
!
int gi1/0/2
switchport access vlan {{data_vlan}}
{% if nac == True %}
nac_config_here
{% endif %}
!
int gi1/0/3
switchport access vlan {{data_vlan}}
{% if nac == True %}
nac_config_here
{% endif %}
!
int gi1/0/4
switchport access vlan {{data_vlan}}
{% if nac == True %}
nac_config_here
{% endif %}

